{% extends "bootstrap/base.html" -%}
{% block title %}Fleuere Web UI{% endblock -%}

{% block navbar -%}
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"/>
        <span class="icon-bar"/>
        <span class="icon-bar"/>
      </button>
      <a class="navbar-brand" href="/">Fleuere Web UI</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </div>
</div>
{%- endblock %}

{% block content -%}
<div class="container">
<div>
<hr/>
{% with messages = get_flashed_messages() -%}
{%   if messages -%}
  <ul>
    {% for message in messages -%}
    <li>{{ message }}</li>
    {% endfor -%}
  </ul>
{%   endif -%}
{% endwith -%}
</div>
{%   block page_content %}{% endblock -%}
</div>
{%- endblock %}
{# vim:sw=2:ts=2:et:
-#}
